.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.prevButton,
.nextButton {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid #464646;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.prevButton:hover,

.nextButton:hover {
  background-color: #fff;
  color: #000;
}

.pageNumber {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 1rem;
}

.prevButton:disabled,
.nextButton:disabled {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}
