.filters {
  display: flex;
  align-items: center;
  margin: 2rem 1rem 1rem 0;
}

.filters span {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 1rem;
}

.sortButton {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid #464646;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.sortButton span {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.sortButton svg {
  width: 20px;
  fill: #fff;
}

.search {
  margin-right: 10px;
  width: 100%;
}

.search input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #464646;
  background-color: transparent;
  color: #fff;
  width: 100%;
  outline: none;
}
